{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Animaux</title>
  </head>
  <body>
    <div class="center">
      <form method="get">
        <div class="checkbox-height">
          {% for caracteristiques in caracteristiques %}
              <label>
                <input type="checkbox" name="caracteristiques" value="{{ caracteristiques }}" class="checkbox"> {{ caracteristiques }}
              </label>
              <br>
          {% endfor %}
        </div>
        <button type="submit" name="search" class="center">Rechercher</button>
      </form>
    </div>
    </br>
    <div class="center">
      {% if liste %}
      <div class="img-width">
        {% for img in liste %}
          <img src="{{ img.image.url }}" alt="">
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </body>
</html>