body{
    margin: auto;
}

.center{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;

    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

    color: black;
    background-color: rgb(70, 184, 60);
}
button:hover{
    background-color: rgb(23, 100, 16);
}

.checkbox-height{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 5px;
}

.checkbox-height label{
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
}

.checkbox{
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

img{
    max-width: 150px;
    height: 100px;
    margin-left: 15px;
}

.img-width{
   width: 500px;
   height: 300px;
   margin: auto;
}